$color_1: #ce9797;
$font-family_1: inherit;

.input {
  display: block;
  width: 100%;
  padding: 12px 18px;
  font-size: 16px;
  font-family: $font-family_1;
  box-shadow: 0 0 0 1px #f8bfbf;
  border: none;
  border-radius: 10px;
  transition: all .3s;
  &::placeholder {
    color: $color_1;
    font-size: 14px;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 10px 1px #ee8c8c;
    border: none;
    transition: all .3s;
  }
}
