/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
optima/public/images/660036bbe0f9e-news-from-home.jpg
optima/public/images/6600380bc4152-a-letter-that-makes-you-smile.jpg
optima/public/images/660094750d6f6-mizhnarodna-naukova-konferenciya-optima-2024-2.jpg
